@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', 'sans-serif';
}

.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111;
	color: #fff;
	z-index: 2;
}

.showcase header {
}

.toggle {
	position: relative;
	width: 60px;
	height: 60px;
	background: url('assests/menustatic.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	cursor: pointer;
}

.menu {
}
